@import '~rsuite/styles/index.less';

// Enable dark mode
@enable-dark-mode: true;

// Enable high contrast mode
@enable-high-contrast: true;

@font-face {
    font-family: 'MyFont';
    src: url('../assets/fonts/IRANSansWeb.woff2') format('truetype');
}

body {
    font-family: 'MyFont', sans-serif;
}

.footer{
    color:gray;
    text-align: center;
    font-size: 0.8em;
}

.header{
    width:'100%';
    height:'100%';
    background-color:'orange';
}

.logout-panel{
    width:'5em';
    height:'4em';
    background-color:'white'
}
.warning-msg {
    color: #c90e0e;
    font-size: 0.8em;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.loading {
    top: 40%;
    left: 47%;
}

.blur {
    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}
.profile-icon {
    width: 3em;
    height: 1.5em;
    position: absolute;
    top: 1em;
    left: 1em;
}

.profile-panel {
    width: auto;
    height: 1.5em;
    position: absolute;
    left: 4em;
    top: 1em;
    border-radius: 0.3em;
}

.logout-popup-panel {
    padding-left: 5px;
        padding-right: 5px;
    width: 10em;
    height: 7em;
    background-color: #2a2d2fb5;
    position: absolute;
    left: 1em;
    top: 3em;
    border-radius: 0.3em;
}
.logout-popup-panel span {
    display: block;
    font-size: 0.9em;
    height: 2.5em;
    text-align: center;
    color: white;
    margin: auto;
    padding: 0.3em;
    cursor: pointer;
}

.logout-popup-panel span:not(:last-child) {
    border-bottom: 1px solid #ccc
}

.logout-popup-panel span:hover {
    color: skyblue;
}

.centeral-div {
    margin: auto;
    width: 100%;
    height: 100%;
}

.users-table {
    width: 95%;
    height: 200px;
    z-index: 15;
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.rs-table-hover .rs-table-body-row-wrapper .rs-table-row:hover .rs-table-cell {
    background: #024975;
}